<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>
  <span id="eventsTitle">This is event Page.</span>
</p>
<table id="eventsTable">
  <thead>
  <tr>
    <th>장소 ID</th>
    <th>이벤트 명</th>
    <th>시작 일시</th>
    <th>종료 일시</th>
    <th>이벤트 상태</th>
    <th>현재 인원 / 최대 수용 인원</th>
    <th>상세</th>
  </tr>
  </thead>
  <tbody>
  <!--  <tr data-th-object="${event}" data-th-each="event: ${events}">-->
  <!--    <td class="placeId" data-th-text="*{placeId}">1</td>-->
  <!--    <td class="eventName" data-th-text="*{name}">테스트 이벤트</td>-->
  <!--    <td class="startDateTime" data-th-text="*{startDateTime}">2021-01-01 9:00:00</td>-->
  <!--    <td class="endDateTime" data-th-text="*{endDateTime}">2021-01-01 10:00:00</td>-->
  <!--    <td class="status" data-th-text="*{status}">opened</td>-->
  <!--    <td class="usage" data-th-text="*{currentNumberOfPeople} +' / '+ *{capacity}"> 0/24</td>-->
  <!--    <td><a>상세 </a></td>-->
  <!--  </tr>-->
  <tr>
    <td class="placeId">1</td>
    <td class="eventName">테스트 이벤트</td>
    <td class="startDateTime">2021-01-01 9:00:00</td>
    <td class="endDateTime">2021-01-01 10:00:00</td>
    <td class="status">opened</td>
    <td class="usage"> 0/24</td>
    <td><a>상세 </a></td>
  </tr>
  <tr>
    <td class="placeId">1</td>
    <td class="eventName">테스트 이벤트</td>
    <td class="startDateTime">2021-01-01 9:00:00</td>
    <td class="endDateTime">2021-01-01 10:00:00</td>
    <td class="status">opened</td>
    <td class="usage">0/24</td>
    <td><a>상세 </a></td>
  </tr>
  <tr>
    <td class="placeId">1</td>
    <td class="eventName">테스트 이벤트</td>
    <td class="startDateTime">2021-01-01 9:00:00</td>
    <td class="endDateTime">2021-01-01 10:00:00</td>
    <td class="status">opened</td>
    <td class="usage">0/24</td>
    <td><a>상세 </a></td>
  </tr>
  </tbody>
</table>
</body>
</html>